# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Arduino / PlatformIO build folders
*.build/
*.pio/
*.arduinoIDE/

# Compiled output
*.elf
*.bin
*.hex
*.eep
*.map

# Arduino sketch metadata
*.pde
*.bak
*.tmp

# Vendor-libraries folder (if you’re vendoring your own libraries)
libraries/
*.h
